h1 {
    font-size: 30px;
    text-align: center;
}


/* This is design for paragraph */
p {
    color: indigo;
    font-size: 18px;
    text-align: center;
}

/* This is design for heading level 2 */
h2 {
    color: blue;
    font-size: 22px;
    text-align: center;
}

/* This is design for bullet points list */
ul {
    color: brown;
    font-size: 18px;
    width: fit-content;
    margin: auto;
}

/* This is design for numbered list */
ol {
    color: brown;
    font-size: 18px;
    width: fit-content;
    margin: auto;
}

table {
    border-collapse: collapse;
    margin: auto;

}

table, td, th {
    border-style: solid;
    border-width: 1px;
    border-color: limegreen;
    border-collapse: collapse;
}

img{
    display: block;
    margin: auto;
}

#third-paragraph {
    background-color: black;
    color: white;
}

.Ravens {
    color: purple;
    font-size: 25px;
}
/* you get image that has the "logo" block you assigned in your html file */
img.logo {
    width: 267px;
    height: 72px;
}

