<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Alex Choi's Website</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body>
<h1> Alex Choi's Profile </h1>
<!-- This is my education and skills section -->
<h2> Education </h2>
<p> University of Maryland - College Park.
    I joined school in the <strong>year</strong> 2022 and expected to <strong>graduate</strong> in 2026 spring.
    I am very <em>excited</em> to graduate soon and <em>finish</em> this course with memories.</p>

<h2> Skills</h2>
<p> I enjoy Python! I enjoy Flask!
    I <strong>like</strong> to code and design and most <strong>importantly</strong> work with people.
    I also like to <em>design</em> and <em>edit</em> videos on my free time. </p>

<!-- This section is a list of sports and an order of favorite countries I traveled-->
<p> Sports I like to watch and play:</p>
<ul>
    <li>Climbing</li>
    <li>Football</li>
    <li>Soccer</li>
    <li>Bowling</li>
</ul>

<p>Favorite countries I traveled by order:</p>
<ol>
    <li>South Korea</li>
    <li>Japan</li>
    <li>Mexico</li>
    <li>Canada</li>
</ol>

<!-- This is a table of bmgt courses I took over the span of four semesters-->
<table>
    <tr>
        <th>Courses</th>
        <th>Semester</th>
    </tr>
    <tr>
        <td>BMGT302</td>
        <td>Fall '24</td>
    </tr>
    <tr>
        <td>BMGT402</td>
        <td>Spring '25</td>
    </tr>
    <tr>
        <td>BMGT403</td>
        <td>Fall '25</td>
    </tr>
    <tr>
        <td>BMGT407</td>
        <td>Spring '26</td>
    </tr>

</table>

<!-- This is to write my third paragrap for the assignment -->
<p id="third-paragraph">
    I am currently writing this paragraph inorder to make an id attribute
    and use it as a selector in CSS
</p>

<!-- This is for my class attribute  -->
<p class="Ravens">I hope the ravens win the super bowl</p>

    <p>A link to my <a href="https://kcho3.pythonanywhere.com/hello">Hello page!</a> </p>
    <p>A link to my <a href="https://www.amazon.com/"> favorite page! </a> </p>
    <p>A link to my <a href="https://www.youtube.com/"> second favorite page!</a> </p>

    <p>Here is the picture of the Smith logo</p>
    <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png"
         class="logo"
         alt="Smith Logo">


</body>
</html>